@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #ec7124;
  --color-primary-dull: #e76718;
  --color-primary-light: #ffbd93;
  --color-light: #F1F5F9;
  --color-borderColor: #C4C7D2;
}

@keyframes fast-fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-fast-leave {
  animation: fast-fade-out 100ms ease-in forwards;
}